/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.03.2014, 13:04:47
    Author     : Zhuk
*/

#topbar {position: relative; top:0px; width: 100%; margin: auto; text-align: center; 
         background-color: #404041; padding: 5px 0px 5px 0px; color: #CCC;}

#page {position: relative; top: 5px; width: 1040px; margin: auto; min-height: 94%;}

#heading {position: relative; width: 100%; margin-bottom: 20px;}

#hFooter {height: 25px;}
#footer {height: 25px; margin-top: -25px; clear: both; text-align: center;}

#content { position: relative; 
           padding: 10px; background-color: white; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5);}    




